*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins;
    overflow-x: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: poppins ;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins ;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins/poppins-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins ;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins/poppins-medium-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins ;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins/poppins-semibold-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins ;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins/poppins-light-webfont.woff') format('woff');
}
@font-face {
    font-family: poppins ;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins/poppins-regular-webfont.woff') format('woff');
}


:root{
    --color_C90000:#C90000;
    --color_7D7C7C:#7D7C7C;
    --color_504F4F:#504F4F;
    --color_323232:#323232;
    --color_FFC300:#FFC300;
    --color_FFF6A3:#FFF6A3;
    --color_E3E3E3:#E3E3E3;
    --color_F1F1F1:#F1F1F1;
    --color_fff:#fff;
    --color_rgb_241:rgba(241, 241, 241, 0.70);
    --color_rgb_112:rgba(112, 144, 176, 0.28);
}

img{
    width: 100%;
}

.main_header{
    margin-top: 1rem;
}

.container_site{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 0.5rem;
}

.navgation{
    display: grid;
    grid-template-columns: 58px 565px 187px;
    justify-content: space-between;
    align-items: center;
}

.navgation ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
}

.navgation ul li:first-child a{
    color: var(--color_C90000) ;
    font-weight: 600;
}
.navgation ul li:not(:first-child) a{
    color: var(--color_7D7C7C);  
    font-weight: 400;
}
.navgation ul li a{
    
    font-weight: 500;
}

.link_navgation a{
    border: 1px solid var(--color_C90000);
    border-radius: 100px;
    padding: 7px 16px 8px 16px;
    font-size: 16px;
    
}

.link_navgation a:first-child{ 
    color: var(--color_C90000);
    font-weight: 400;
}
.link_navgation a:last-child{ 
    background-color: var(--color_C90000);
    color: var(--color_fff);
    font-weight: 500
}

.nav_menu_sidbar{
    flex-direction: column;
    position: fixed;
    left: 0;
    background-color: #fff;
    height: 100%;
    top: 0;
    padding: 1rem;
    width: 200px;
    transform: translateX(-384px);
    transition: all 250ms ease-in-out;
    border-right: var(--color_504F4F) 1px solid;
    z-index: 100;
}

#close_icon{
    display: none;
}

.menu_icon{
    width: 30px;
    height: 30px;
}

.header_bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content_left_header_bottom{
    align-self: center;
    width: 86%;
}

.content_left_header_bottom h1{
    color: var(--color_C90000);
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
}

.content_left_header_bottom p{
    color: var(--color_504F4F);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 77%;
}

.order_food{
    margin-top: 3rem;
}

.text_price{
    color: var(--color_323232);
    margin-bottom: 1rem;
}

.text_price span:first-child{
    font-size: 16px;
    font-weight: 300;
}

.text_price span:last-child{
    font-size: 24px;
    font-weight: 500;
}

.action_order{
    display: flex;
    justify-content: space-between;
    max-width: 79%
}

.button_action_order{
    gap: 12px;
    width: 41%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F1F1F1B2;
    background-color: var(--color_fff);
    border-radius: 100px;
    padding: 8px 16px 8px 16px;
    box-shadow: 0px 10px 17px 0px #7090B033;
    font-family: poppins;
}

.button_action_order span{
    color: var(--color_FFC300);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;

}

.button_action_order button:last-child{
    margin-bottom: 7px;
}

.button_action_order span::after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 22px;
    background-color: #F1F1F1B2;
    margin-left: 12px;
}

.button_action_order span::before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 22px;
    background-color: #F1F1F1B2;
    margin-right: 12px;
}

.button_action_order button{
    background-color: transparent;
    border: none;
}

.right_button_action_order{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--color_FFC300);
    width: 189px;
    height: 62px;
    padding: 16px 24px 16px 24px;
    gap: 12px;
    border-radius: 100px;
    box-shadow: 0px 20px 20px 0px #7090B033;
    font-weight: 600;
    font-size: 20px;
    color: var(--color_323232);
}

.content_right_header_bottom{
    position: relative;
}

.delivery{
    position: absolute;
    text-align: center;
    top: 5rem;
    left: -6rem;
    padding: 12px;
    gap: 0px;
    border-radius: 50px 50px 0px 50px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #F1F1F166;
    border: 1px solid #F1F1F1;
   
}

.delivery div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    color: var(--color_323232);
    line-height: 36px;
    gap: 8px;
}

.delivery > span{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color_7D7C7C);
}

.row_title_section_food h4{
    position: relative;
    color: var(--color_C90000);
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    text-transform: uppercase;
    width: max-content;
}

.line_bottom_row_title{
    position: absolute;
    width: 100%;
    height: 9px;
    background: #FFF6A3;
    bottom: 18px;
    z-index: -1;
}

.row_button_category button{

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid var(--color_E3E3E3);
    background-color: var(--color_F1F1F1);
    padding: 14px 24px;
    column-gap: 8px;
    color: var(--color_504F4F);
    font-size: 16px;
    font-weight: 400;
}

.row_button_category{
    display: grid;
    grid-auto-columns: 177px;
    grid-auto-flow: column;
    overflow-x: auto;
    column-gap: 20px;
    margin-top: 32px;
}

.button_active_category{
    background-color: var(--color_FFC300) !important;
    color: var(--color_323232) !important;
    font-size: 16px;
    font-weight: 600;
}

.row_grid_food_products{
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
    justify-content: center;
}

.item_food_grid{
    position: relative;
    border-radius: 12px;
    border: 1px solid var(--color_E3E3E3);
    padding: 16px;
}

.img_item_food_grid{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 170px;
}

.img_item_food_grid img{
    max-width: 227px;
    max-height: 170px;
    object-fit: contain;
}

.bg_img{
    position: absolute;
    z-index: -1;
    bottom: -12px;
    border-radius: 8px;
    height: 105px;
    width: 100%;
    background-color: #FFFDE6;
}

.info_food_products{
    margin-top: 18px;
}

.info_food_products h5{
    font-weight: 600;
    font-size: 20px;
    color: var(--color_323232);
}

.info_food_products p{
    font-size: 14px;
    color: var(--color_504F4F);
    font-weight: 400;
    line-height: 21px;
    margin-top: 5px;
}

.score_item_food_grid{
    margin: 12px 0 20px 0;
    display: flex;
    align-items: end
}

.score_item_food_grid span{
    font-weight: 500;
    font-size: 14px;
    color: var(--color_7D7C7C);
}

.button_item_food_grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button_item_food_grid span{
    font-weight: 600;
    font-size: 24px;
    color: var(--color_323232);
}

.button_item_food_grid button{
    border: none;
    border-radius: 8px;
    padding: 10px;
    gap: 4.5px;
    background-color: var(--color_C90000);
}

.Sale{
    position: absolute;
    width: 48px;
    height: 48px;
}

.see_all_food{
    margin-top: 1.5rem;
    text-align: center;
}
.see_all_food a{
    color: var(--color_504F4F);
    font-size: 20px;
    font-weight: 500;
    text-decoration: underline;

}

.section_off{
    margin-top: 10rem;
}

.section_off .row_title_section_food{
    display: flex;
    justify-content: center;
}

.item_food_off{
    height: 335px;
    border: 1px solid var(--color_E3E3E3);
    background-color: var(--color_F1F1F1);
    border-radius: 20px;
    padding: 2rem 0 2rem 1.2rem;
    overflow: hidden;
    transition: all 250ms ease-in;
    cursor: pointer;
}

.item_food_off:hover{
    background-color: var(--color_C90000);
    transform: scale(1.1);
}

.item_food_off:hover .title_sm_item_food_off span:first-child, .price_off del{
    color: var(--color_F1F1F1);
}

.item_food_off:hover .left_item_food_off h6{
    color: var(--color_FFC300);
}

.item_food_off:hover .left_item_food_off p{
    color: var(--color_fff);
}

.item_food_off:hover .price_off span{
    color: var(--color_FFC300);
}

.item_food_off:hover .left_item_food_off button {
    color: var(--color_323232);
    background-color: var(--color_fff);
}

.item_food_off:hover .left_item_food_off button svg path{
    fill: var(--color_323232);
}

.row_info_food_off{
    display: flex;
}
.title_sm_item_food_off{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.title_sm_item_food_off span:first-child{
    color: var(--color_323232);
    font-size: 16px;
    font-weight: 400;
}

.title_sm_item_food_off span:last-child{
    display: inline-block;
    width: 75%;
    border: 0.25px solid var(--color_7D7C7C);
}

.left_item_food_off{
    width: 95%;
}

.left_item_food_off p{
    color: var(--color_504F4F);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    height: 44px;
    transition: all 250ms ease-in;
}

.left_item_food_off h6{
    color: var(--color_C90000);
    font-size: 27px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.9rem 0;
    white-space: nowrap;
    transition: all 250ms ease-in;
}

.price_off del{
    color: var(--color_7D7C7C);
    font-size: 16px;
    font-weight: 600;
    transition: all 250ms ease-in;
}

.price_off span{
    color: var(--color_C90000);
    font-size: 24px;
    font-weight: 600;
    margin-top: 0.5rem;
    display: inline-block;
    transition: all 250ms ease-in;
}

.left_item_food_off button{
    display: flex;
    align-items: center;
    background-color: var(--color_504F4F);
    border-radius: 20px;
    color: var(--color_F1F1F1);
    font-size: 16px;
    font-weight: 500;
    font-family: poppins;
    column-gap: 3px;
    padding: 8px 12px;
    border: none;
    margin-top: 4.5rem;
    transition: all 250ms ease-in;
}

.left_item_food_off button span{
    height: 24px;
    line-height: 27px;
    
}

.right_item_food_off img{
    position: relative;
    top: 24%;
    max-width: 273px;
    max-height: 204px;
    width: 273px;
    right: 30%;
}

.seconde_item_food_off img{
    right: 55%;
}

.grid_food_off{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap: 30px;
    margin-top: 1.8rem;
}

.download_btn_app a{
    width: 14%;
    margin-top: 32px;
    display: inline-block;
}

.download_btn_app a:last-child{
    margin-left: 20px;
}

.section_mobile_app{
    display: grid;
    grid-template-columns: 35% 60%;
    justify-content: flex-end;
    border: 1px solid var(--color_E3E3E3);
    background-color: var(--color_F1F1F1);
    border-radius: 0 500px 500px 0;
    max-width: 90%;
    margin-top: 10rem;
}

.content_section_mobile_app{
    padding: 2rem;
    justify-self: center;
    align-self: center;
}

.img_section_mobile_app img{
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    position: relative;
    top: -30px;
}

.content_section_mobile_app h6{
    color: var(--color_7D7C7C);
    font-size: 20px;
    font-weight: 500;
}

.content_section_mobile_app h4{
    color: var(--color_C90000);
    font-size: 48px;
    font-weight: 500;
    margin: 1rem 0;
}

.content_section_mobile_app p{
    color: var(--color_323232);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 83%
}

.content_search_location{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--color_323232);
    border-radius: 20px;
    margin-top: 5rem;
    height: 398px;
}

.content_search_location h6{
    color: #FFFDE6;
    font-size: 48px;
    font-weight: 400;
}

.content_search_location p{
    color: var(--color_F1F1F1);
    font-size: 16px;
    font-weight: 400;
    margin: 0.5rem 0 4rem 0;
}


.content_search_location form{
    position: relative;
    background-color: var(--color_FFC300);
    border-radius: 100px;
    padding: 0px 10px;
    width: 45%;
    height: 56px;
}

.content_search_location form input{
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    width: 100%;
}
.content_search_location form input::placeholder{
    color: var(--color_504F4F);
    font-family: poppins;
}

.content_search_location form button{
    background-color: var(--color_fff);
    border-radius: 100px;
    padding: 12px 24px;
    border: 0;
    position: absolute;
    right: 13px;
    top: 15%;

}

.section_search_location img{
    position: absolute;
    max-width: 187px;
    object-fit: cover;
    
}

.section_search_location img:nth-child(4){
    top: 15%;
    left: 0;
}

.section_search_location img:last-child{
    bottom: 0;
    left: 10%;
}

footer{
    background-color: #FFFDE6;
    padding: 32px 0;
    margin-top: 5rem;
}

.grid_section_footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo_footer{
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo_footer img{
    max-width: 70px;
}

.logo_footer h6{
    color: var(--color_323232);
    font-size: 32px;
    font-weight: 600;
    white-space: nowrap;
}

.info_sit_footer{
    align-self: center;
}

.info_sit_footer ul{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding-left: 4rem;
    margin-top: 1rem
}

.info_sit_footer ul li:first-child svg{
    margin-top: 5px;
}

.link_footer h5{
    color: var(--color_323232);
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 32px
}

.link_footer ul li {
    color: var(--color_323232);
    font-size: 16px;
    font-weight: 300;
    line-height: 36px;
}

.link_footer ul li a{
    color: inherit;
}